<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>新增开票申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="x-body">
        <form class="layui-form" id="formadd">
          <div class="layui-form-item">
            <label for="son" class="layui-form-label">申请人
            </label>
            <div class="layui-input-inline">
                <input type="hidden" id="hidden" name="type" value="6">
              <input class="layui-input" name="u_id" id="son" disabled="" value="管理员">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="sondoc" class="layui-form-label">申请人部门
            </label>
            <div class="layui-input-inline">
              <input class="layui-input" name="enddate" id="sondoc" disabled="" value="吉林省一秋网络科技有限公司">
            </div>
          </div>
          <div class="layui-form-item">
              <label for="Price" class="layui-form-label">
                开票名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="Price" name="invoice" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="fdjPrice" class="layui-form-label">
                <span class="x-red">*</span>开票金额
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="fdjPrice" name="expense_money"  required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="brand" class="layui-form-label">
                <span class="x-red">*</span>开票类型
              </label>
              <div class="layui-input-inline">
                  <select name="invoice_type">
                        <option value="1">专篇</option>
                        <option value="2">普票</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="test1" class="layui-form-label">
                <span class="x-red">*</span>开票日期
              </label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test1" required="" placeholder="2020-12-01" lay-key="1" name="invoice_time">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="bmaddress" class="layui-form-label">
                <span class="x-red">*</span>公司单位名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="bmaddress" name="company" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="replaceaddress" class="layui-form-label">
                公司地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="replaceaddress" name="address" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="contact" class="layui-form-label">
                联系电话
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="contact" name="phone" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="openuser" class="layui-form-label">
                开户行
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="openuser" name="account" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="openadmin" class="layui-form-label">
                开户帐号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="openadmin" name="account_id" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="oddnumber" class="layui-form-label">
                相关单号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="oddnumber" name="numbers" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="desc" class="layui-form-label">
                  说明
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="desc" name="explain" class="layui-textarea"></textarea>
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                                            相关文件
              </label>
              <div class="layui-input-block">
                  <button type="button" class="layui-btn" id="test3" ><i class="layui-icon"></i>添加文件</button>
                  <input type="hidden" id="fliehidden" name="file" val="">
              </div>
          </div>
        <div align="center" style="padding:20px 0px"><table><tbody><tr><td><div class="course">提交</div></td><td><div class="coursejt"></div></td><td><div class="coursejts"></div></td><td><div class="course">财务审批</div></td><td><div class="coursejt"></div></td><td><div class="coursejts"></div></td><td><div class="course">管理审批</div></td><td><div class="coursejt"></div></td><td><div class="coursejts"></div></td><td><div class="course">结束</div></td></tr></tbody></table></div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                  提交
            </button>
        </div>
      </form>
    </div>

<script>
layui.use('layedit', function(){
  var layedit = layui.layedit;
  layedit.set({
	  uploadImage: {
	    url: '' //接口url
	    ,type: '' //默认post
	  }
	});
  layedit.build('demo'); //建立编辑器
});
layui.use('laydate', function(){
	  var laydate = layui.laydate;

	  //常规用法
	  laydate.render({
	    elem: '#test1'
    });
    //常规用法
	  laydate.render({
	    elem: '#test2'
	  });
	});
layui.use(['form','layer'], function(){
    $ = layui.jquery;
  var form = layui.form
  ,layer = layui.layer;
 //监听提交
  form.on('submit(add)', function(data){
    console.log(data);
    //发异步，把数据提交给php
    layer.alert("增加成功", {icon: 6},function () {
        // 获得frame索引
       var index = parent.layer.getFrameIndex(window.name);
        var data = $("#formadd").serialize();
        $.ajax({
            type: "post",
            url: "{:url('add_finance')}",
            data:data,
            dataType: "json",
            success: function(data){                
                 console.log(data)
            }
        });
        //关闭当前frame
        parent.layer.close(index);
    });
    return false;
  });



});
</script>
<script>
    layui.use('upload', function(){
      var $ = layui.jquery
      ,upload = layui.upload;
        upload.render({
            elem: '#test3'
            ,url: "{:url('Publicse/upload')}" //改成您自己的上传接口
            ,accept: 'file' //普通文件
            ,done: function(res){
              layer.msg('上传成功');
              $("#fliehidden").val(res.data)
              console.log(res.data);
            }
          });
    
    
    });
</script>
  </body>

</html>