<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>快递审批详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="x-body">
        <table class="layui-table">
        	<tr>
        		<th>部门</th>
        		<td>{$data.department}</td>
        	</tr>
        	<tr>
        		<th>申请日期</th>
        		<td>{$data.apply_time}</td>
        	</tr>
        	<tr>
        		<th>寄件人</th>
        		<td>{$data.sender}</td>
        	</tr>
        	<tr>
        		<th>快递公司</th>
        		<td>{$data.express}</td>
        	</tr>
        	<tr>
        		<th>运单号</th>
        		<td>{$data.waybill_no}</td>
        	</tr>
        	<tr>
        		<th>寄件内容</th>
        		<td>{$data.content}</td>
			</tr>
			<tr>
        		<th>数量</th>
        		<td>{$data.num}</td>
			</tr>
			<tr>
        		<th>收件人</th>
        		<td>{$data.addressee}</td>
			</tr>
			<tr>
        		<th>发货日期</th>
        		<td>{$data.deliver_time}</td>
			</tr>
			<tr>
        		<th>费用</th>
        		<td>{$data.cost}</td>
			</tr>
			<tr>
        		<th>状态</th>
        		<td>{eq name="$data['type']" value="1"}已完成{else/}未完成{/eq}</td>
			</tr>
			<tr>
        		<th>是否报销</th>
        		<td>{eq name="$data['month_type']" value="1"}已报销{else/}未报销{/eq}</td>
			</tr>
		</table>
		<xblock>
			<button class="layui-btn" style="background: none;color:#0e497b;">审核处理</button>
		</xblock>
		<div class="x-body">
			<table class="layui-table">
				<thead>
					<tr>
					<th>状态</th>
					<th>未审核</th>
				  </tr></thead>
				  <tbody>
					<tr>
					  <td>处理流程</td>
					  <td></td>
					  </tr>
				  </tbody>
			</table>
		</div>
    </div>
    <xblock>
	    <button class="layui-btn" style="background: none;color:#0e497b;">查阅记录</button>
	  </xblock>
	  <ul class="lookrecords">
	  	<li><img src="assets/images/touimg.png"/><p>admin</p></li>
	  	<li><img src="assets/images/touimg.png"/><p>人事</p></li>
	  	<li><img src="assets/images/touimg.png"/><p>行政</p></li>
	  </ul>
    
  </body>

</html>