<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>物品盘点</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .layui-form-select{
        display: inline-block;
      }
       /*分页样式*/
        .pagination{
            margin-top: 20px;
            text-align: center;
        }
        .pagination li{
            display: inline-block;
            background: url(xadmin.css) 0px 0px no-repeat rgb(255, 255, 255);
            color: rgb(136, 136, 136);
            padding: 10px;
            min-width: 15px;
            border: 1px solid rgb(226, 226, 226);
        }
        .pagination .active{
            display: inline-block;
            background: url(xadmin.css) 0px 0px no-repeat rgb(0, 61, 204);
            color: rgb(255, 255, 255);
            padding: 10px;
            min-width: 15px;
            border: 1px solid rgb(0, 61, 204);
        }
    </style>
  </head>

  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">行政</a>
        <a href="">物品管理</a>
        <a>
          <cite>物品盘点</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{:url('Goods/Inventory')}" method="POST">
            <button type="button" class="layui-btn layui-btn-normal" onclick="x_admin_show('新增','{:url('Goods/Inventory_add')}',800,600)">新增</button>
          <select name="" id="going">
            <option value="">全部</option>
            <option value="1">办公用品</option>
            <option value="2">用品用具</option>
        </select>
        <input class="layui-input" placeholder="日期" name="start" id="start">
        <input type="text" name="username"  placeholder="物品名/型号/规格" autocomplete="off" class="layui-input">
        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        <button type="button" class="layui-btn layui-btn-primary" style="float: right;">导出</button>
        </form>
      </div>
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>编号</th>
            <th>名称</th>
            <th>分类</th>
            <th>单价</th>
            <th>单位</th>
            <th>规格</th>
            <th>型号</th>
            <th>ID</th>
            <th>总库存</th>
            <th>仓库</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
          {volist name="list" id="vo"}  
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.num}</td>
            <td>{$vo.title}</td>
            <td>{$vo.c_id}</td>
            <td>{$vo.price}</td>
            <td>{$vo.unit}</td>
            <td>{$vo.specifications}</td>
            <td>{$vo.model}</td>
            <td>{$vo.id}</td>
            <td>{$vo.stock}</td>
            <td>{$vo.l_id}</td>
            <td class="td-manage">
              <a href="javascript:;" class="czxq">
                <i class="layui-icon">&#xe642;</i>
                <ul class="pmedit">
                	<li><a title="编辑" onclick="x_admin_show('编辑','{:url(\'Goods/Inventory_edit\',[\'id\'=>$vo[\'id\']])}',600,400)" href="javascript:;">编辑</a></li>
                </ul>
              </a>
              <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <!--<div class="page">-->
      <!--  <div>-->
      <!--    <a class="prev" href="">&lt;&lt;</a>-->
      <!--    <a class="num" href="">1</a>-->
      <!--    <span class="current">2</span>-->
      <!--    <a class="num" href="">3</a>-->
      <!--    <a class="num" href="">489</a>-->
      <!--    <a class="next" href="">&gt;&gt;</a>-->
      <!--  </div>-->
      <!--</div>-->
{$list->render()}
    </div>
     <div class="zzhao"></div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
          ,type: 'month'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
                $.ajax({
                    type: "post",
                    url: "{:url('Goods/Inventory_del')}",
                    data:{id:id},
                    dataType: "json",
                    success: function(data){     
                        if(JSON.parse(data).code == 0){
                            layer.msg(JSON.parse(data).msg);
                            return false;
                        }
                        $(obj).parents("tr").remove();
                         layer.msg('已删除!',{icon:1,time:1000});
                    }
                });
                
              
          });
      }
      //操作
        $("tbody tr").each(function(){
            $(this).on("click",".td-manage .czxq" ,function(){
                $(this).siblings(".pmedit").show();
    			$('.zzhao').show();
            })
        })
    	$('.zzhao').click(function(){
    		$('.zzhao').hide();
    		$('.pmedit').hide();
    	})

    </script>


  </body>

</html>