<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>系统设置</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="__CDN__/assets/home/assets/images/favicon.ico">
        <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
        <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
        <!-- App css -->
        <link href="__CDN__/assets/home/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="__CDN__/assets/home/assets/css/app.min.css" rel="stylesheet" type="text/css" />
		<link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">系统管理</a>
            <a>
            <cite>系统设置</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <!-- Begin page -->
        <div class="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <form   action="{:url('System/config')}" method="POST" >
                            <div class="tab-content">
                                <div class="tab-pane show active" id="profile">
                                    <div class="form-group row mb-3">
                                        <label for="inputEmail3" class="col-1 col-form-label">系统标题</label>
                                        <div class="col-4">
                                            <input type="text" class="form-control" id="inputPasswordold" name="title" placeholder="系统标题" value="{$config['title']}">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="inputEmail3" class="col-1 col-form-label">logo设置</label>
                                        <div class="col-4">
                                            <div class="layui-upload">
                                                <div class="layui-upload-list">
                                                  <img class="layui-upload-img" id="demo12" style="width: 100px;" src="{$config['logo']}">
                                                  <p id="demoText2"></p>
                                                </div>
                                                <button type="button" class="layui-btn" id="test12" >上传logo</button>
                                                <input class="layui-upload-file" type="file" accept="undefined" name="file">
                                                <input type="hidden" value="{$config['logo']}" name="logo" id="logosrc"/>
                                                <!-- 到时候替换上面的 隐藏域里的 value 不要删除里面的 变量 id可以随便加 -->
                                              </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-1 col-form-label">联系电话</label>
                                        <div class="col-4">
                                            <input type="text" class="form-control" id="inputPassword3" name="phone" placeholder="联系电话" value="{$config['phone']}">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="inputPassword5" class="col-1 col-form-label">公司地址</label>
                                        <div class="col-4">
                                            <input type="text" class="form-control" id="inputPassword5" name="address" placeholder="公司地址" value="{$config['address']}">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="inputPassword5" class="col-1 col-form-label"></label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" name="logo_type" value="1" lay-skin="primary" title="设置默认头像" {eq name="$config['logo_type']" value="1" } checked {/eq} style="display: none;"><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>设置默认头像</span><i class="layui-icon"></i></div>
                                              </div>
                                    </div>
                                    <div class="form-group mb-0 justify-content-end row">
                                        <div class="col-9">
                                            <button type="submit" class="btn btn-info" onclick="passwordbtn()">确认修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row-->
        </div> <!-- container -->
    </div>
        <!-- END wrapper -->

        <!-- App js -->
        <script src="__CDN__/assets/home/assets/js/app.min.js"></script>
        
    <script>
        layui.use('upload', function(){
        var $ = layui.jquery
        ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
          elem: '#test12'
          ,url: "{:url('Publicse/upload')}" //改成您自己的上传接口
          ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
              $('#demo12').attr('src', result); //图片链接（base64）
            });
          }
          ,done: function(res){
            //如果上传失败
            if(res.code == 0){
                return layer.msg('上传失败');
            }
            console.log(res.data)
            $("#logosrc").val(res.data)
            //上传成功
          }
          ,error: function(){
            //演示失败状态，并实现重传
            var demoText = $('#demoText2');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function(){
              uploadInst.upload();
            });
          }
        });

      });
      </script>
    </body>
</html>
