<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>编辑差旅费</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #demo1{
        width:40%;
        margin-left: 20%;
      }
    </style>
  </head>

  <body>
    <div class="x-body">
        <form class="layui-form" id="formadd">

          <div class="layui-form-item">
            <label for="son" class="layui-form-label">
              <span class="x-red">*</span>部门
            </label>
            <div class="layui-input-inline">
              <input class="layui-input" name="department" id="son" required="" value="{$data.department}" >
            </div>
          </div>
          <div class="layui-form-item">
            <label for="collection" class="layui-form-label">
              <span class="x-red">*</span>出差人员
            </label>
            <div class="layui-input-inline">
              <input type="text" class="layui-input"  name="personnel" id="collection" required="" value="{$data.personnel}"  >
            </div>
          </div>
          <div class="layui-form-item">
            <label for="postzw" class="layui-form-label">
              <span class="x-red">*</span>职位
            </label>
            <div class="layui-input-inline">
              <input type="text" class="layui-input"  name="position" id="postzw" required="" value="{$data.position}">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="test13" class="layui-form-label">
              <span class="x-red">*</span>申请日期
            </label>
            <div class="layui-input-inline">
              <input type="text" class="layui-input" id="test13" name="apply_time"  value="{$data.apply_time}">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="jobnumber" class="layui-form-label">
              出差事由
            </label>
            <div class="layui-input-inline">
              <input type="text" class="layui-input"  name="reason" id="jobnumber" required=""  value="{$data.reason}">
            </div>
          </div>
          <div class="layui-form-item">
              <label for="test1" class="layui-form-label">
                <span class="x-red">*</span>开始时间
              </label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test1" required="" name="start" lay-key="1" value="{$data.start}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="test2" class="layui-form-label">
                <span class="x-red">*</span>结束时间
              </label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test2" required=""  name="end" lay-key="1" value="{$data.end}">
              </div>
          </div>
          <div class="layui-form-item">
            <label for="position" class="layui-form-label">
              <span class="x-red">*</span>出差天数
            </label>
            <div class="layui-input-inline">
              <input type="number" class="layui-input"  name="day_num" id="position" required="" value="{$data.day_num}">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="wages" class="layui-form-label">
              <span class="x-red">*</span>交通费用
            </label>
            <div class="layui-input-inline">
              <input type="number" class="layui-input"  name="traffic" id="wages" required="" value="{$data.traffic}" >
            </div>
          </div>
          <div class="layui-form-item">
            <label for="billuser" class="layui-form-label">
              出差补贴
            </label>
            <div class="layui-input-inline">
              <input type="number" class="layui-input"  name="subsidy" id="billuser" value="{$data.subsidy}" >
            </div>
          </div>
          <div class="layui-form-item">
              <label for="typename" class="layui-form-label">
                  <span class="x-red">*</span>状态
              </label>
              <div class="layui-input-inline">
                <select name="type" id="typename">
                    <option value="">请选择</option>
                    <option value="0">未完成</option>
                    <option value="1">已完成</option>
                </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="typename" class="layui-form-label">
                  <span class="x-red">*</span>报销状态
              </label>
              <div class="layui-input-inline">
                <select name="month_type" id="typename">
                    <option value="">请选择</option>
                    <option value="2">未报销</option>
                    <option value="1">已报销</option>
                </select>
              </div>
          </div>
         <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="hidden" value="{$data.id}" name="id" />
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  	提交
              </button>
          </div>
      </form>
    </div>

<script>
  layui.use('laydate', function(){
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
      elem: '#applydate' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#startdate' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#enddate' //指定元素
    });
  });
layui.use('layedit', function(){
  var layedit = layui.layedit;
  layedit.set({
	  uploadImage: {
	    url: '' //接口url
	    ,type: '' //默认post
	  }
	});
  layedit.build('demo'); //建立编辑器
});
layui.use('laydate', function(){
	  var laydate = layui.laydate;

	  //常规用法
	  laydate.render({
      elem: '#test13'
    });
    //常规用法
	  laydate.render({
	    elem: '#test1'
    });
    //常规用法
	  laydate.render({
	    elem: '#test2'
	  });
	});
layui.use(['form','layer'], function(){
    $ = layui.jquery;
  var form = layui.form
  ,layer = layui.layer;


  //监听提交
  form.on('submit(add)', function(data){
    // console.log(data);
    //发异步，把数据提交给php
    layer.alert("编辑成功", {icon: 6},function () {
        // 获得frame索引
        var index = parent.layer.getFrameIndex(window.name);
        var data = $("#formadd").serialize();
        $.ajax({
            type: "post",
            url: "{:url('Travel/edit')}",
            data:data,
            dataType: "json",
            success: function(data){                
                 console.log(data)
            },
            error:function(){
                console.log("错误")
            }
        });
        //关闭当前frame
        parent.layer.close(index);
    });
    return false;
  });


});
</script>

  </body>

</html>