<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>新增会议</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #demo1{
        width:40%;
        margin-left: 20%;
      }
    </style>
  </head>

  <body>
    <div class="x-body">
        <form class="layui-form" id="formadd">
          <div class="layui-form-item">
              <label for="typename" class="layui-form-label">
                  <span class="x-red">*</span>会议室
              </label>
              <div class="layui-input-inline">
                <select name="koosolek" id="typename" >
                      <option value="">请选择</option>
                      <option value="1">会客室</option>
                      <option value="2">会议室</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
                <label for="sendto" class="layui-form-label">
                  会议纪要人
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="sendto" name="summary" required="" lay-verify="pass"
                    autocomplete="off" class="layui-input">
                </div>
          </div>
          <div class="layui-form-item">
                <label for="sendto" class="layui-form-label">
                  主持人
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="sendto" name="host" required="" lay-verify="pass"
                    autocomplete="off" class="layui-input">
                </div>
          </div>
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>主题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="title" name="theme" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="startdate" class="layui-form-label">开始时间
              </label>
              <div class="layui-input-inline">
                <input class="layui-input" placeholder="设置开始时间" name="start" id="startdate">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="enddate" class="layui-form-label">结束时间
              </label>
              <div class="layui-input-inline">
                <input class="layui-input" placeholder="设置结束时间" name="end" id="enddate">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="typename" class="layui-form-label">
                  <span class="x-red">*</span>类型名称
              </label>
              <div class="layui-input-inline">
                <select name="type_name" id="typename" >
                      <option value="">请选择</option>
                      <option value="1">通知公告</option>
                      <option value="2">规则制度</option>
                  </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="sendto" class="layui-form-label">
                参会人
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="sendto" name="participate" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="demo" class="layui-form-label">
                说明
              </label>
              <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="explain" class="layui-textarea"></textarea>
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label for="demoList" class="layui-form-label">
                                            相关文件
              </label>
              <div class="layui-input-block">
                 <button type="button" class="layui-btn" id="test3" ><i class="layui-icon"></i>添加文件</button>
                     <input type="hidden" id="fliehidden" name="file" val="">
              </div>

          </div>
          <!-- <div class="layui-form-item">-->
          <!--    <label for="shortmessage" class="layui-form-label">-->
          <!--      短信提醒-->
          <!--    </label>-->
          <!--    <div class="layui-input-block">-->
          <!--      <input type="checkbox" name="like1[write]" lay-skin="primary" title="发短信" checked="" id="shortmessage"><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>超级管理员</span><i class="layui-icon"></i></div>-->
          <!--      </div>-->
          <!--</div>-->
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  	提交
              </button>
          </div>
      </form>
    </div>

<script>
  layui.use('laydate', function(){
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
      elem: '#applydate' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#startdate' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#enddate' //指定元素
    });
  });
layui.use('layedit', function(){
  var layedit = layui.layedit;
  layedit.set({
	  uploadImage: {
	    url: '' //接口url
	    ,type: '' //默认post
	  }
	});
  layedit.build('demo'); //建立编辑器
});
layui.use('laydate', function(){
	  var laydate = layui.laydate;

	  //常规用法
	  laydate.render({
	    elem: '#test1'
	  });
	});
layui.use(['form','layer'], function(){
    $ = layui.jquery;
  var form = layui.form
  ,layer = layui.layer;

   //监听提交
  form.on('submit(add)', function(data){
    // console.log(data);
    //发异步，把数据提交给php
    layer.alert("增加成功", {icon: 6},function () {
        // 获得frame索引
        var index = parent.layer.getFrameIndex(window.name);
        var data = $("#formadd").serialize();
        $.ajax({
            type: "post",
            url: "{:url('Meeting/add')}",
            data:data,
            dataType: "json",
            success: function(data){                
                 console.log(data)
            },
            error:function(){
                console.log("错误")
            }
        });
        //关闭当前frame
        parent.layer.close(index);
    });
    return false;
  });


});
</script>
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
    upload.render({
        elem: '#test3'
        ,url: "{:url('Publicse/upload')}" //改成您自己的上传接口
        ,accept: 'file' //普通文件
        ,done: function(res){
          layer.msg('上传成功');
          $("#fliehidden").val(res.data)
          console.log(res.data);
        }
      });


});
</script>
  </body>

</html>