<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>新增会议纪要</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__CDN__/assets/home/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CDN__/assets/home/css/font.css">
    <link rel="stylesheet" href="__CDN__/assets/home/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CDN__/assets/home/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__CDN__/assets/home/js/xadmin.js"></script>
    <link href="__CDN__/assets/home/assets/css/add.css" rel="stylesheet" type="text/css" />
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #demo1{
        width:40%;
        margin-left: 20%;
      }
    </style>
  </head>

  <body>
    <div class="x-body">
        <h2 style="text-align:center;margin-bottom: 2%;">会议纪要</h2>
        <form class="layui-form" id="formadd">
          <div class="layui-form-item">
              <label for="demo" class="layui-form-label">
                <span class="x-red">*</span>会议纪要内容
              </label>
              <div class="layui-input-block">
                  <input type="hidden"  name="meeting_id" val="{$meeting_id}">
                 <textarea placeholder="请输入内容" id="desc" name="content" class="layui-textarea"></textarea>

              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label for="demoList" class="layui-form-label">
                                            相关文件
              </label>
              <div class="layui-input-block">
                   <button type="button" class="layui-btn" id="test3" ><i class="layui-icon"></i>添加文件</button>
                     <input type="hidden" id="fliehidden" name="file" val="">
              </div>

          </div>
           <div class="layui-form-item">
              <label for="shortmessage" class="layui-form-label">
                申请人
              </label>
              <div class="layui-input-block">
                <input type="text" id="shortmessage" name="title" class="layui-input" value="{$user['name']}"  disabled="disabled">
                </div>
          </div>
          <div class="layui-form-item">
            <label for="shortmessage" class="layui-form-label">
              申请人部门
            </label>
            <div class="layui-input-block">
              <input type="text" id="shortmessage" name="title" class="layui-input" value="{$user['department']}" disabled="disabled">
              </div>
        </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  	提交
              </button>
          </div>
      </form>
    </div>

<script>


layui.use(['form','layer'], function(){
    $ = layui.jquery;
  var form = layui.form
  ,layer = layui.layer;


 //监听提交
  form.on('submit(add)', function(data){
    // console.log(data);
    //发异步，把数据提交给php
    layer.alert("增加成功", {icon: 6},function () {
        // 获得frame索引
        var index = parent.layer.getFrameIndex(window.name);
        var data = $("#formadd").serialize();
        $.ajax({
            type: "post",
            url: "{:url('Meeting/summary')}",
            data:data,
            dataType: "json",
            success: function(data){                
                 console.log(data)
            },
            error:function(){
                console.log("错误")
            }
        });
        //关闭当前frame
        parent.layer.close(index);
    });
    return false;
  });

});
</script>
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
    upload.render({
        elem: '#test3'
        ,url: "{:url('Publicse/upload')}" //改成您自己的上传接口
        ,accept: 'file' //普通文件
        ,done: function(res){
          layer.msg('上传成功');
          $("#fliehidden").val(res.data)
          console.log(res.data);
        }
      });


});
</script>
  </body>

</html>